B-1 images.json
[{"id":"b9c5054a.71ab78","type":"tab","label":"File Upload","disabled":false,"info":""},{"id":"eb1b3f2e.f8db9","type":"http in","z":"b9c5054a.71ab78","name":"","url":"/image","method":"post","upload":true,"swaggerDoc":"","x":90.5,"y":500,"wires":[["e404b416.69b1e8"]]},{"id":"c7d07264.ed609","type":"http response","z":"b9c5054a.71ab78","name":"","statusCode":"","headers":{},"x":447.5,"y":476,"wires":[]},{"id":"c52733e9.8825d","type":"http in","z":"b9c5054a.71ab78","name":"","url":"/image.html","method":"get","upload":false,"swaggerDoc":"","x":115.5,"y":429,"wires":[["601c6b28.767584"]]},{"id":"d2163f07.b56c1","type":"http response","z":"b9c5054a.71ab78","name":"","statusCode":"","headers":{},"x":393.5,"y":412,"wires":[]},{"id":"601c6b28.767584","type":"template","z":"b9c5054a.71ab78","name":"","field":"payload","fieldType":"msg","format":"html","syntax":"mustache","template":"<script src=\"//code.jquery.com/jquery-1.8.0.min.js\"></script>\n\n<form method=\"POST\" action=\"/image\" enctype=\"multipart/form-data\">\n    <input type=\"file\" name=\"file1\"/>\n    <input type=\"submit\" value=\"送信\"/>\n</form>\n\n<div>\n    <table border=\"1\">\n        <thead>\n            <tr><th>filename</th><th>image</th></tr>\n        </thead>\n        <tbody id=\"tbody\">\n            \n        </tbody>\n    </table>\n</div>\n\n<script>\n$.ajax({\n  url: '/images',\n  type: 'GET',\n  success: function( result ){\n    console.log( result );\n    if( result && result.length ){\n      result.forEach( function( img ){\n        var filename = img.filename;\n        var data = img.body._attachments[filename].data;\n        var type = img.body._attachments[filename].content_type;\n        var tr = '<tr><td>' + filename + '</td><td><img src=\"data:' + type + ';base64,' + data + '\"/></td></tr>';\n        $('tbody').append( tr );\n      });\n    }\n  },\n  error: function(){\n    console.log( 'error' );\n  }\n});\n</script>\n","output":"str","x":267.5,"y":439,"wires":[["d2163f07.b56c1"]]},{"id":"e404b416.69b1e8","type":"function","z":"b9c5054a.71ab78","name":"","func":"if( msg.req.files && msg.req.files[0] ){\n    var filename = msg.req.files[0].originalname;\n    var mimetype = msg.req.files[0].mimetype;\n    var bin = msg.req.files[0].buffer;\n    var bin64 = bin.toString( 'base64' );\n    msg.payload = {};\n    msg.payload.filename = filename;\n    msg.payload.body = {};\n\tmsg.payload.body._attachments = {};\n\tmsg.payload.body._attachments[filename] = {};\n\tmsg.payload.body._attachments[filename].content_type = mimetype;\n\tmsg.payload.body._attachments[filename].data = bin64;\n}\nreturn msg;","outputs":1,"noerr":0,"x":282.5,"y":524,"wires":[["185745fe.24db1a","3d1c188c.4f3698","c7d07264.ed609"]]},{"id":"3d1c188c.4f3698","type":"debug","z":"b9c5054a.71ab78","name":"","active":true,"console":"false","complete":"payload","x":315.5,"y":614,"wires":[]},{"id":"185745fe.24db1a","type":"cloudant out","z":"b9c5054a.71ab78","name":"","cloudant":"","database":"imagedb","service":"dotnsf-iot-starter-cloudantNoSQLDB","payonly":true,"operation":"insert","x":445.5,"y":544,"wires":[]},{"id":"f6a4ccb3.8ca1d","type":"http in","z":"b9c5054a.71ab78","name":"","url":"/images","method":"get","upload":false,"swaggerDoc":"","x":96.5,"y":689.5,"wires":[["13787464.7af184"]]},{"id":"1042431b.fb1dad","type":"http response","z":"b9c5054a.71ab78","name":"","statusCode":"","headers":{},"x":517.5,"y":744,"wires":[]},{"id":"13787464.7af184","type":"cloudant in","z":"b9c5054a.71ab78","name":"","cloudant":"","database":"imagedb","service":"dotnsf-iot-starter-cloudantNoSQLDB","search":"_all_","design":"","index":"","x":315.5,"y":727.5,"wires":[["1042431b.fb1dad"]]}]